:root {
    --padding: 2px;
    --height: auto;
    --border: 1px solid black;
    --text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: var(--height);
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

/* Image contained in main (temple) */

main img {
    width: 150px;
    height: var(--height);
    border: #333;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height);
}

footer {
    margin-top: 15px;
    border-top: var(--border);
    text-align: var(--text-align);
}